*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
   
}
header h1{
  border-bottom: 1px solid black;
  padding-bottom: 20px; 
  margin-bottom: 20px;
  margin-top: 20px;
}

main{
  
  width: 100%;
  min-height: 100vh;
  input[type=submit]{
      background-color: black;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 6px 9px;
    }
  input[type="submit"]:hover{
    border: 1px solid balck;
    background-color: rgb(41, 14, 163); 
    color: #fff;
  }
   
  section{
    margin-top: 20px;
    
    h2{
       text-align: left;
    }
    table {
      margin-top: 10px;
      margin-bottom: 20px;
      border-collapse: collapse;
      width: 100%;
      th{
        text-align: left;
        padding: 0 0 5px 5px;
      }
      td {
        border: 1px dashed black;
        padding: .2em .5em .2em .5em;
        vertical-align: center;
        text-align: left;
      }
      .remove{
        border: none;
      }
      td form{
        width: 40px;
        margin-left: 5px;
      }  
      input[type=submit]{
        background-color: black;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
      }

      input[type="submit"]:hover{
        border: 1px solid balck;
        background-color: rgb(255, 72, 0); 
        color: #fff;
      }
    }
    .add_item_form{
      display: flex;
      flex-direction: column;
      label{
        margin-top: 0px;
      }
    }

    .last_paragraph{
      margin-top: 50px;
      a{
        color: navy;
      }
      a:hover{
        color: rgb(231, 86, 19);
      }
    }
  }
  
}
 



 
